
@{
    ViewBag.Title = "Students-Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui stackable four column grid">
    <div class="column">
        1
    </div>
    <div class="column">
        @ViewBag.RouteInfo
    </div>
    <div class="column">
        3
    </div>
    <div class="column">
        4
    </div>
</div>

